<form class="filters" #form="ngForm">
    <div class="filter-item">
        <label for="windfarm-select">
            Windfarm
        </label>

        <select name="windfarm" id="windfarm-select" [(ngModel)]="windfarmDateRangeForm.windfarm">
            <option [value]="null" disabled>
                -
            </option>

            <option *ngFor="let windfarm of windfarmOptions" [value]="windfarm">
                {{ windfarm.name }}
            </option>
        </select>
    </div>

    <div class="filter-item">
        <label for="start-date">
            Start Date
        </label>

        <div class="datepicker" id="start-date">
            <div class="datepicker-icon">
                <app-calendar-icon classNames="h-5 w-5 text-gray-500"></app-calendar-icon>
            </div>

            <input type="date" class="datepicker-input" name="startDate" [(ngModel)]="windfarmDateRangeForm.startDate">
        </div>
    </div>

    <div class="filter-item">
        <label for="end-date">
            End Date
        </label>

        <div class="datepicker" id="end-date">
            <div class="datepicker-icon">
                <app-calendar-icon classNames="h-5 w-5 text-gray-500"></app-calendar-icon>
            </div>

            <input type="date" class="datepicker-input" name="endDate" [(ngModel)]="windfarmDateRangeForm.endDate">
        </div>
    </div>
</form>