:host {
    @apply h-screen grid grid-rows-[3rem_1fr] grid-cols-[1fr];

    grid-template-areas:
    'top'
    'main';
}

header {
    @apply flex items-center pl-6 pr-3 border-b;
    
    grid-area: top;
}

main {
    @apply min-h-full max-h-full overflow-auto;

    grid-area: main;
}