<app-spinner *ngIf="loadingWindfarms"></app-spinner>

<ng-container *ngIf="!loadingWindfarms">
    <header>
        <h1>Windfarm Capacity Factor</h1>

        <p>
            Choose a windfarm, start date and end date to show the windfarm's daily
            aggregated <em>Capacity Factor</em>.
        </p>
    </header>

    <div class="mb-5 max-w-3xl">
        <app-windfarm-date-range-form [windfarmOptions]="windfarms" (onChange)="onFormChange($event)">
        </app-windfarm-date-range-form>
    </div>

    <hr class="mb-5 sm:mb-8">

    <div *ngIf="currentFilters === null"
        class="flex align-center max-w-3xl p-4 mb-4  text-blue-600 bg-blue-50 rounded-md" role="alert">
        <app-info-icon></app-info-icon>

        <p class="ml-3">
            Please fill in the above form to show windfarm data.
        </p>
    </div>

    <ng-container *ngIf="currentFilters !== null">
        <div class="grow" *ngIf="loadingRows">
            <app-spinner></app-spinner>
        </div>

        <div class="grow max-w-5xl" *ngIf="!loadingRows">
            <app-capacity-factor-table [rows]="rows"></app-capacity-factor-table>
        </div>
    </ng-container>

</ng-container>